#note a {
    text-decoration: none;
    color: #1e3286;
}

#note a:hover {
    text-decoration: none;
    color: #2e42a6;
}

#note {
    margin: auto;
    height: 100%;
    background-color: #e4e8ec;
    display: flex;
    flex-direction: column;
    font-family: 'Zen Kurenaido', 'Noto Sans Japanese', sans-serif;
}

#note #main {
    margin: 2rem 25vw;
}

#note h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto', 'Zen Kurenaido', sans-serif;
}

#note p {
    font-size: 1.3rem;
    font-weight: 400;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 3rem;
    font-family: 'Roboto';
    inset: 0;
}

#header>ul {
    display: flex;
    list-style: none;
    text-align: center;
    height: 3rem;
}

#header>ul>li {
    padding-top: 0.8rem;
    height: 3rem;
    width: min(12vw, 8rem);
    font-size: 1.3rem;
}

#header>ul>li>ul {
    list-style: none;
    padding-top: 0.8rem;
    padding-left: 0;
    overflow: hidden;
    height: auto;
}

#header>ul>li>ul>li {
    height: 0;
    line-height: 2.5rem;
    transition: 0.2s;
    text-align: center;
}

#header>ul>li:hover>ul>li {
    height: 2.5rem;
    transition: 0.2s;
}

#header>ul>li:hover>ul>li:hover {
    background-color: #ffffff88;
}

#header>ul a {
    border-bottom: red;
    color: #1e2226;
}