header {
  height: 100px;
}

header a {
  font-size: 60px;
  margin: 10px 20px;
}

main {
  font-size: 30px;
  margin: 120px 45px 5px 45px;
  padding: 20px;
}

main h1 {
  font-size: 60px;
  border-bottom: solid 6px #dfdfdf;
}
