@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
	background-color: #000000;
	color: #dfdfdf ;
	font-family: 'Noto Sans JP', sans-serif;
}

a {
	color: #dfdf00
}

#menu_shadow {
	background-color: #000000;
}

#left_menu {
	background-color: #1f1f1f;
}

article {
	background-color: #1f1f1f;
}

h1 {
	font-size: 200%;
}

h2 {
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

footer {
	background-color: #4f4f4f;
}

.hamburger {
	background-color: #4f4f4f;
	border-radius: 10px;
	opacity: 0.7;
}

.hamburger:hover {
	border-radius: 10px;
	opacity: 0.9;
}

.hamburger div {
	background-color: #afafaf;
}
