html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #403510;
}

#icon {
    image-rendering: pixelated;
    width: 160px;
    margin: 0 auto;
}
